{
  "name": "{{ name }}",
  "version": "1.0.0",
  "description": "{{ description }}",
  "author": "{{ author }}",
  "scripts": {},
  "keywords": [],
  "license": "ISC",
  "devDependencies": {
    "knockoutcity-mod-loader": "latest",
    "typescript": "^5.2.2"
  }
}